:root {
  --light-white: #E2E2E2;
  --dark-brown: #281A1A;
  --medium-brown: #4E2D28;
  --dark-wine: #70454E;
  --medium-wine: #AE736F;
  --pink: #DDA8B0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--dark-brown);
}

body {
  height: 100%;
  width: 100%;
}