:root {
  --light-white: #E2E2E2;
  --dark-brown: #281A1A;
  --medium-brown: #4E2D28;
  --dark-wine: #70454E;
  --medium-wine: #AE736F;
  --pink: #DDA8B0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #E2E2E2;
}

body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/poppins-light-webfont.woff') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/poppins-regular-webfont.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/poppins-medium-webfont.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/poppins-semibold-webfont.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/poppins-bold-webfont.woff') format('truetype');
  font-weight: 900;
  font-style: normal;
}